body {
	background-color: #001919;
	color: #00e5e5;
	font-family: 'Raleway', sans-serif;
}

.logo-nav-container {
	width: 100%;
	display: inline;
	background-color: #000000;
}

.the-logo {
	z-index: 200;
	position: absolute;
	left: 47px;
	top: 18px;
}

.logo-div h2 {
	margin: 0;
	margin-left: -12px;
	display: inline;
	font-size: 34px;
}

.logo-div > div {
	float: left;
	padding-left: 10px;
}

.nav-link {
	text-decoration: none;
	font-size: 20px;
	padding-right: 10px;
}

li a{
	color: white;
	font-family: 'Raleway', sans-serif;
}

ul {
	list-style-type: none;
}

.nav-div {
	/*float: right;*/
	/*display: inline;*/
	/*font-size: 5px;
	padding-top: 4.25vw;
	padding-left: 8.75vh;*/
	height: 100px;
	width: 150px;
	position: absolute;
	right: 10%;
	top: -5%;
	list-style-type: none;
	background-color: #ff3232;
	-webkit-clip-path: polygon(51% 69%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(51% 69%, 100% 50%, 50% 100%, 0% 50%);
	animation-name: blinker;
    animation-duration: 4s;
    animation-timing-function: ease-in-ease-out;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: ease-in-ease-out;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

.hidden-nav {
	position: absolute;
	right: 10%;
	top: 12%;
	height: 3vw;
	width: 22vh;
	background-color: #ff3232;
	padding-top: 7px;
	z-index: 10000;
}

/*.nav-div:hover + .hidden-nav {
	display: block;
}*/

.logo-vid-container {
	height: 80px;
	width: 145px;
	overflow: hidden;
}

.logo-vid {
	width: 100% !important;
	height: auto !important;
	opacity: 0.8;
}

.vid-container {
	width: 100%;
}

.globe-vid {
	width: 100% !important;
	height: auto !important;
	opacity: 0.5;
}

.main-content-container {
	text-align: center;
}

.App {

}