body {
	text-align: center;
}

.hero-div {
	background-image: url('../assets/bitcoin_header_1.jpg');
	width: 100% !important;
	height: 50vw !important;
	background-size: cover;
	background-repeat: none;
}

.App {

}