body {
	background-color: #001919;
	color: #00e5e5;
	font-family: 'Raleway', sans-serif;
}

.logo-nav-container {
	width: 100%;
	display: inline;
	background-color: #000000;
}

.the-logo {
	z-index: 200;
	position: absolute;
	left: 47px;
	top: 18px;
}

.logo-div h2 {
	margin: 0;
	margin-left: -12px;
	display: inline;
	font-size: 34px;
}

.logo-div > div {
	float: left;
	padding-left: 10px;
}

.nav-link {
	text-decoration: none;
	font-size: 20px;
	padding-right: 10px;
}

li a{
	color: white;
	font-family: 'Raleway', sans-serif;
	-webkit-transition: all ease 1s; /* Safari */
    transition: all ease 1s;
}

li a:hover {
	cursor: pointer;
	text-decoration: none;
	color: black;
}

ul {
	list-style-type: none;
}

.nav-div {
	height: 100px;
	width: 150px;
	position: absolute;
	right: 10%;
	top: -5%;
	list-style-type: none;
	background-color: #ff3232;
	-webkit-clip-path: polygon(51% 69%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(51% 69%, 100% 50%, 50% 100%, 0% 50%);
	animation-name: blinker;
    animation-duration: 4s;
    animation-timing-function: ease-in-ease-out;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: ease-in-ease-out;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

.hidden-nav {
	position: absolute;
	right: 10%;
	top: 12%;
	height: 5vw;
	width: 22vh;
	background-color: #ff3232;
	border-radius: 4px;
	padding-top: 7px;
	z-index: 10000;
}

.logo-vid-container {
	height: 80px;
	width: 145px;
	border-radius: 4px;
	overflow: hidden;
}

.logo-vid {
	width: 100% !important;
	height: auto !important;
	opacity: 0.5;
}

.vid-container {
	width: 100%;
}

.globe-vid {
	width: 100% !important;
	height: auto !important;
	opacity: 0.5;
}

.story-div {
	position: absolute;
	z-index: 100;
	top: 40vh;
	right: 20vh;
	height: 30vh;
	width: 60vh;
}

.story-div h2 {
	font-size: 36px;
	line-height: 45px;
}

.story-div span {
	color: #ff3232;
}

@media only screen and (max-width: 500px) {
	.story-div {
		
	}

	.story-div h2 {

	}
}

@media only screen and (max-width: 500px) {
	.story-div {
		
	}

	.story-div h2 {

	}
}

.main-content-container {
	text-align: center;
}

.form-wrapper {
	margin-bottom: 8vh;
}

.form-search-button {
	margin: 10px;
	border: 2px solid #00e5e5;
	background-color: #001919;
	color: #00e5e5;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-transition: all ease 1s; /* Safari */
    transition: all ease 1s;
}

.form-search-button:hover {
	color: #001919;
	background-color: #00e5e5;
	border: 2px solid #ff3232;
}

.form-data {
	border: 2px solid #00e5e5;
	background-color: #001919;
	color: #00e5e5;
	padding-left: 20px;
	padding-right: 20px;
}

.result-map-wrapper {
	display: inline-block;
	width: 100%;
	padding-left: 2vh;
	padding-right: 2vh;
	border-radius: 2px;
	border: 2px solid #ff3232;
	border-left: 12px solid #ff3232;
	border-right: 12px solid #ff3232;
}

.result-container {
	margin-left: 10vh;
	min-height: 320px;
}
.result-body {
	width: 50%;
	float: left;
}

.result-wrapper {
	text-align: left;
	margin: 10px auto 10px auto;
}

.load-more-results:hover {
	cursor: pointer;
}

.star {
	display: inline;
	margin-right: 4vh;
}

.star:hover {
	cursor: pointer;
}

.results {
	display: inline;
}

.favorites-main-content {
	width: 100%;
	min-height: 33%;
	text-align: center;
	clear: both;
	display: inline-block;
	margin-top: 5vw;
}

.favortite-wrapper {
	margin: 10px;
}

.each-favorite {
	margin: 5px;
	color: white;
}

.App {

}